@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Войти в аккаунт</h1>
<form>

</form>

<a href="~/Account/Create"> 
    Создать пользователя
</a>
